.items {
	
	margin: 10px 0 25px;
	padding: 0;
	
	li {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
	}
	
	a {
		
		font-size: 18px;
		font-weight: normal;
		line-height: normal;
		text-align: left;
		letter-spacing: .08em;
		color: darken($color2, 20%);
		vertical-align: baseline;
		width: 100%;
		background-color: $color2;
		border: none rgba($raven, 0);
		box-shadow: none;
		border-radius: 3px;
		margin: 5px 0;
		padding: 10px 20px;
		display: block;
		zoom: 1;
		cursor: pointer;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		-webkit-tap-highlight-color: rgba($raven, 0);
		
		&::-moz-focus-inner {
			padding: 0;
			border: 0;
		}
		
		&,
		&:visited,
		.no-touch &:visited:hover,
		&:focus,
		.no-touch &:focus:hover,
		.no-touch &:hover,
		&:active {
			text-decoration: none;
			color: lighten($color2, 50%);
			box-shadow: none;
		}
		
		.no-touch &:hover,
		&:focus {
			background-image: linear-gradient(transparent, rgba($raven, .05) 40%,
			                  rgba($raven, .10));
		}
		
		&:focus { outline: 0; }
		
		&:active {
			box-shadow: 0 0 0 2px rgba($raven, .15) inset,
			            0 0 10px rgba($raven, .25) inset;
		}
		
		&[disabled],
		&.button-disabled,
		&.button-disabled:visited,
		.no-touch &.button-disabled:visited:hover,
		&.button-disabled:focus,
		.no-touch &.button-disabled:focus:hover,
		.no-touch &.button-disabled:hover,
		&.button-disabled:active {
			border: none;
			background-image: none;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
			filter: alpha(opacity=40);
			-khtml-opacity: .40;
			  -moz-opacity: .40;
			       opacity: .40;
			cursor: not-allowed;
			box-shadow: none;
		}
		
		&.button-hidden { display: none; }
		
		.primary {}
		
		.secondary {
			font-size: 14px;
			color: $gray8;
			display: block;
			margin-top: 5px;
		}
		
		.tertiary {
			font-size: 12px;
			color: $gray6;
			text-transform: uppercase;
			line-height: 10px;
			letter-spacing: .05em;
			padding: 5px;
			border-radius: 3px;
			position: absolute;
			top: 5px;
			right: 5px;
			background: rgba($raven, .15);
		}
		
	}
	
}
